# local package
-e .

# main functionality
torch>=0.4.1
torchvision==0.3.0
allennlp
scipy
numpy
overrides
ipython
tensorflow
pandas
albumentations
git+https://github.com/python-pillow/Pillow

# Pypi uploads
twine>=1.11.0

# Testing
codecov
pytest-cov
pytest>=3.5.0

# maskrcnn-benchmark
ninja
yacs
cython
tqdm

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
